* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
}

.sidebar {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 50px;
}

.toolbar {
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.other-tools {
  display: flex;
  justify-content: flex-end;
}

.palette {
  align-items: center;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  transition: width 500ms ease-out;
  width: 25px;
}

.palette:hover {
  width: 125px;
}

.reset {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-right: 1rem;
  transition: color 500ms;
}

.save {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: color 500ms;
}

.palette__color {
  border: 4px solid transparent;
  flex-shrink: 0;
  height: 25px;
  opacity: .5;
  transition: opacity 500ms;
  width: 25px;
}

.palette__color:hover {
  opacity: 1;
}

.palette__color--active {
  opacity: 1;
}

.tools {
  color: #fff;
  cursor: pointer;
}

.tools button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 1rem;
}

.sizes {
  align-items: center;
  display: flex;
  margin-right: 1rem;
}

.sizes__item {
  align-items: center;
  background: #fff;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  height: 24px;
  justify-content: center;
  margin-right: 0.5rem;
  padding: 0.5rem;
  width: 24px;
}

.sizes__item--active {
  border: 2px solid green;
}
